<!DOCTYPE html>
<html>
<head>
  <title>Sequoia Number</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='title'>Sequoia Number</div>
<div id='navi'>
	<%= link_to 'Sequoia Number', sequoia_number_path %> |
	<%= link_to 'NASDAQ VS Investment', nasdaq_analysis_path %> |
	<%= link_to 'Unemployment VS Investment', unemployment_analysis_path %> |
	<%= link_to 'About', about_path %>
</div>
<div id='content'>
	<%= yield %>
</div>
</body>

<div id='push'></div>
<div id='footer'>
	Demo for CS194 - Data Science @ UC Berkeley |
	<a href="http://yanzhao.me">Yan Zhao</a>, Weijie Li
</div>
</html>
